

h1, h2, h3, h4, h5, h5 {
    font-weight: 2rem;
    color: #f6b601;

}

.background-image-holder {
   
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-position: center;
    overflow: auto;
}

.grid-container {
    border: 1px red solid;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
    width: 75%;
    margin: auto;
    height: 80%;
    position: relative;
    overflow: auto;
    margin: 10rem auto;
}

.item {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.item-1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red 1px;
  }

.item-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red 1px;
}

.item-3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red 1px;
}

.item-4 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red 1px;
}

.item-5 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red 1px;
}

.number-holder {
    border: solid red 1px;
    height: 3rem;
    width: 3rem;
    margin: auto;
}
